.github

**/.env
**/docker-compose.yml
**/Dockerfile
**/*_test.go

node_modules
test
build/_workspace
build/bin
build/_bin
tests/testdata
l2geth/signer/fourbyte
l2geth/cmd/puppeth
l2geth/cmd/clef
go/gas-oracle/gas-oracle
go/batch-submitter/batch-submitter
