.DS_Store
node_modules
results
temp
.nyc_output
coverage.json
*.tsbuildinfo

.aws-sam/
.idea/
.serverless/
build
dist
artifacts
cache

# nix
result*
.direnv/

l2geth/build/bin
packages/contracts/deployments/custom
packages/contracts/coverage*
packages/contracts/@ens*
packages/contracts/@openzeppelin*
packages/contracts/hardhat*

packages/data-transport-layer/db

packages/boba/gas-price-oracle/data

# vim
*.swp

.env
*.log

# boba_examples
boba_examples/init-fund-l2/yarn.lock
boba_examples/boba-fee/yarn.lock
boba_examples/boba-straw/yarn.lock

# regenesis
packages/regenesis-surgery/deployment
packages/regenesis-surgery/state-dump

# monitor
ops_boba/api/watcher-api/env-rinkeby.yml
ops_boba/api/watcher-api/env-mainnet.yml
ops_boba/api/watcher-api/env.yml
ops_boba/monitor/yarn.lock
ops_boba/api/watcher-api/.serverless

# gateway
packages/boba/gateway/build
packages/boba/gateway/public/env.js

# subgraph
/packages/boba/subgraph/L1/yarn.lock
/packages/boba/subgraph/L2/yarn.lock
/packages/boba/subgraph/L1/build
/packages/boba/subgraph/L2/build
/packages/boba/subgraph/L1/generated
/packages/boba/subgraph/L2/generated

# api
env-mainnet.yml
env-rinkeby.yml
ops_boba/api/metatransaction-api/yarn.lock
