[submodule "tests"]
	path = l2geth/tests/testdata
	url = https://github.com/ethereum/tests

[submodule "bedrock/erigon"]
	path = bedrock/erigon
	url = https://github.com/bobanetwork/erigon

[submodule "bedrock/reference-optimistic-geth"]
	path = bedrock/reference-optimistic-geth
	url = https://github.com/bobanetwork/reference-optimistic-geth

[submodule "boba_community/bobarians/lib/forge-std"]
	path = boba_community/bobarians/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
