/* @import 'index.scss'; */

.Select {
  display: flex;
  flex-direction: column;
  min-width: 100px;

  .label {
    margin-bottom: 10px;
  }

  .field {
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.15);
    transition: all 200ms ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 12px;
  }

  .select {
    border: none;
    outline: none;
    border-radius: 0;
    padding-right: 10px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    color: #565656;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
  }

  .selected {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding-inline: 10px;
    border-radius: 10px;

    .details {
      text-align: left;
      margin-right: 10px;
      font-size: 0.9em;
      .subTitle {
        font-size: 0.7em;
        white-space: nowrap;
      }
    }
  }
}
