@import 'index.scss';

.datePickerInput {
  position: relative;

  &::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 10px;
    font-size: 2rem;
    bottom: 15px;
  }

  input {
    background: transparent;
    border: none;
    color: white;
    font-weight: 300;
    font-size: 2rem;

    &:focus-visible {
      outline: none
    }
  }
}

.popperStyle {
  z-index: 3;
}
