.DS_Store
node_modules
results
temp
.nyc_output
coverage.json
*.tsbuildinfo
env.yml
.serverless
.env
build/

dist
artifacts
cache

packages/contracts/deployments/custom
packages/contracts/coverage*
packages/contracts/@ens*
packages/contracts/@openzeppelin*
packages/contracts/hardhat*
