@import 'index.scss';

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 0px;

  .header {
    h2 {
      margin-bottom: 0;
      padding-left: 10px;
      color: $white;
    }

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .content {

    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

    @media only screen and (max-width: 900px) {
      flex-direction: column;
    }

    .transferContainer,
    .delegateContainer {
      border-radius: 4px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 48%;
      margin: 5px;
      @media only screen and (max-width: 900px) {
        width: 100%;
        min-width: unset;
        min-height: unset;
      }
      .info {
        .title {
          font-size: 1.4em;
          color: $white;
        }
        .subTitle {
          font-size: 1.0em;
          color: blue;
          margin: 10px;
        }
        .helpText {
          font-size: 0.8em;
          margin: 10px;
          margin-bottom: 10px;
          //opacity: 0.8;
        }
        .helpTextLight {
          font-size: 0.7em;
          margin: 10px;
          opacity: 0.6;
          text-align: left; 
          line-height: 1.0em; 
          margin-top: 20px;
          padding: 20px;
        }
      }
    }
  }
}
