@import 'index.scss';

.ListNFT {

  box-shadow: 0px 4px 4px rgb(255 255 255 / 5%);
  border-radius: 15px;
  width: 300px;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid $gray2;
  background: $background400;
  /*overflow: hidden;*/

  .topContainer {

    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    padding-top: 0px;

    .Table2 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  .BasicText {
    font-size: 1em;
    font-weight: 700;
    color: $gray3;
  }

  .BasicTextLight {
    font-size: 0.7em;
    font-weight: 500;
    color: $gray3;
  }
}

.muted {
  color: $white500;
  margin-left: 5px !important;
  font-weight: 600 !important;
}