@import 'index.scss';

.topContainer {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 5px;
  text-align: center;
  .Table2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.BasicText {
  font-size: 1em;
  font-weight: 700;
  color: $gray3;
}

.BasicTextLight {
  font-size: 0.7em;
  font-weight: 500;
  color: $gray3;
}

.muted {
  color: $white500;
  margin-left: 5px !important;
  font-weight: 600 !important;
}
