# .github/workflows/release-please.yml
name: release-please
on:
  push:
    branches:
      - master
jobs:
  release-please:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        with:
          release-type: terraform-module # Multiple release types are supported
          default-branch: main
