# .github/workflows/release-please.yml
name: release-please
on:
  push:
    branches:
      - master
jobs:
  release-please:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v4
        with:
          release-type: node # Multiple release types are supported
          default-branch: master
